.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}


md-input-container .hint {
  position: absolute;
  left: 2px;
  right: auto;
  bottom: 7px;
  
  font-size: 12px;
  line-height: 14px;
  transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
  
  color: grey;
}
md-input-container .hint.ng-hide,
md-input-container .hint.ng-enter,
md-input-container .hint.ng-leave.ng-leave-active {
  bottom: 26px;
  opacity: 0;
}
md-input-container .hint.ng-leave,
md-input-container .hint.ng-enter.ng-enter-active {
  bottom: 7px;
  opacity: 1;
}


.md-dialog-content h2 {
  padding: 0;
  margin: 0;
}

md-list {
  padding: 0;
}

.md-avatar-icon.md-green-500 {
  background-color: #4CAF50;
}

#leftPanel {
  margin-right: 4px;
}

.md-list-item-text .md-caption {
  line-height: normal;
}

md-list-item.selected {
  border-left: 4px solid #3F51B5;
  background-color: rgba(63, 81, 181, .2);
}

.no-selected-item-container img {
  width: 250px;
  opacity: .19;
}

.no-selected-item-container h2 {
  color: rgba(0, 0, 0, .19);
}

#mainFAB {
  position: absolute;
  bottom: 16px;
  right: 16px;
}

.md-loading-icon {
  position: relative;
}

.md-loading-icon md-progress-circular {
  position: absolute;
  top: 8px;
  left: -4px;
  z-index: 1;
}


.key-value-table .key {
  font-size: 1.2rem;
  font-weight: 200;
  display: inline-block;
  width: 125px;
  margin: 8px;
  text-align: right;
}

.key-value-table .value {
  /*font-weight: 200;*/
  display: inline-block;
  margin: 8px;
}

.button-bar {
  margin: 32px;
}

