<div layout="row" flex>
  <section id="leftPanel" class="md-whiteframe-2dp" layout="row" flex="33">
    <md-content layout="column" flex>
      <md-content layout="column" flex>
        <md-list>
          <md-subheader class="md-primary">Running instances</md-subheader>
          <md-list-item class="md-3-line" ng-class="main.listItemClass(instance)" ng-repeat="instance in main.instances | orderBy: '-LaunchTime.$date'" ng-click="main.selectItem($event, instance)">
            <md-icon class="md-avatar-icon" ng-class="main.instanceIconClass(instance)">videogame_asset</md-icon>
            <div class="md-list-item-text" layout="column">
              <div layout="row" layout-align="start end">
                <h3 flex>{{ instance.InstanceId }}</h3>
                <span class="md-caption">{{instance.LaunchTime.$date | date: 'MMM d h:mm a'}}</span>
              </div>
              <h4>{{ instance.InstanceType }}</h4>
              <p>{{ instance.PublicIpAddress }}</p>
            </div>
          </md-list-item>
          <md-list-item ng-if="main.instances.length === 0" ng-disabled="true" class="empty-list-item">
            <p>No running instances</p>
          </md-list-item>


          <md-subheader class="md-primary" ng-if="main.spotRequests">Spot requests</md-subheader>
          <md-list-item class="md-3-line" ng-class="main.listItemClass(request)" ng-repeat="request in main.spotRequests | orderBy: '-CreateTime.$date'" ng-click="main.selectItem($event, request)">
            <md-icon class="md-avatar-icon" ng-class="main.requestIconClass(request)">schedule</md-icon>
            <div class="md-list-item-text" layout="column">
              <div layout="row" layout-align="start end">
                <h3 flex>{{ request.SpotInstanceRequestId }}</h3>
                <span class="md-caption">{{request.CreateTime.$date | date: 'MMM d h:mm a'}}</span>
              </div>
              <h4>{{request.LaunchSpecification.Placement.AvailabilityZone}} @ ${{ request.SpotPrice | number:2 }}</h4>
              <p>{{ request.LaunchSpecification.InstanceType }}</p>
            </div>
          </md-list-item>
        </md-list>
      </md-content>

      <md-button id="mainFAB" class="md-fab md-accent" aria-label="New instance" ng-click="main.createInstance($event)">
        <md-tooltip md-direction="top">Create an instance</md-tooltip>
        <md-icon>add</md-icon>
      </md-button>
    </md-content>
  </section>

  <section flex layout="column" layout-padding>
    <md-content ng-if="main.selectedInstance" flex>
      <div layout="row" layout-align="start center">
        <h1 class="md-headline" flex>Instance #{{main.selectedInstance.InstanceId}}</h1>
        <md-button class="md-raised md-warn md-icon-button" ng-click="main.deleteInstance($event, main.selectedInstance)">
          <md-tooltip>Delete instance</md-tooltip>
          <md-icon>delete</md-icon>
        </md-button>
      </div>

      <div layout="column" class="key-value-table">
        <div layout="row" layout-align="start center" class="key-value-row">
          <span class="key">State</span>
          <span class="value">[{{main.selectedInstance.State.Code}}] {{main.selectedInstance.State.Name}}</span>
        </div>

        <div layout="row" layout-align="start center" class="key-value-row">
          <span class="key">Launch time</span>
          <span class="value">{{main.selectedInstance.LaunchTime.$date | date: 'medium'}}</span>
        </div>

        <div layout="row" layout-align="start center" class="key-value-row" ng-if="main.selectedInstance.PublicIpAddress">
          <span class="key">Ip Address</span>
          <span class="value">{{main.selectedInstance.PublicIpAddress}}</span>
        </div>

        <div layout="row" layout-align="start center" class="key-value-row">
          <span class="key">Type</span>
          <span class="value">{{main.selectedInstance.InstanceType}}</span>
        </div>

        <div layout="row" layout-align="start center" class="key-value-row">
          <span class="key">Image ID</span>
          <span class="value">{{main.selectedInstance.ImageId}}</span>
        </div>

        <div layout="row" layout-align="start center" class="key-value-row">
          <span class="key">Lifecycle</span>
          <span class="value">{{main.selectedInstance.InstanceLifecycle}}</span>
        </div>

        <div layout="row" layout-align="start center" class="key-value-row">
          <span class="key">Zone</span>
          <span class="value">{{main.selectedInstance.Placement.AvailabilityZone}}</span>
        </div>

        <div layout="row" layout-align="start center" class="key-value-row">
          <span class="key">Platform</span>
          <span class="value">{{main.selectedInstance.Platform}}</span>
        </div>
      </div>

      <div class="button-bar" layout="row" layout-align="center fill" flex>
        <md-button class="md-raised" download="{{main.selectedInstance.InstanceId}}.tblk" ng-disabled="true" ng-href="{{ main.getFileURL('vpn') }}"><md-icon>vpn_key</md-icon> Download VPN config</md-button>
        <md-button class="md-raised" download="{{main.selectedInstance.InstanceId}}.rdp" ng-disabled="main.selectedInstance.State.Code !== 16" ng-href="{{ main.getFileURL('rdp') }}"><md-icon>desktop_windows</md-icon> Download RDP config</md-button>
      </div>

      <div class="button-bar" layout="row" layout-align="center fill" flex>
        <md-button class="md-raised" ng-click="main.steamLogin($event, main.selectedInstance)"><md-icon>play_arrow</md-icon> Steam Login</md-button>
        <md-button class="md-raised" ng-click="main.steamLogout($event, main.selectedInstance)"><md-icon>stop</md-icon> Steam Logout</md-button>
      </div>
    </md-content>

    <md-content class="no-selected-item-container" ng-if="!main.selectedInstance" flex layout="column" layout-align="center center">
      <img src="images/aws-logo-black-500px.png" />
      <h2 class="md-display-1">No instance selected</h2>
    </md-content>    
  </section>
</div>